.navbar-container{
  background: #282828;
    border-radius: 0 0 23px 23px;
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: sticky;
  }

  .navbarItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }